<ul class="nav nav-tabs">
    <li *ngFor="let navItem of navItems" [class.active]="navItem.url.toLowerCase() === selectedNavItem.toLowerCase()" (click)="onSelect(navItem.url)">
        <a href="javascript:void(0)">{{navItem.name}}</a>
    </li>


</ul>
<br>
<p>
    <app-gallery *ngIf="selectedNavItem.toLowerCase() ==='gallery'"></app-gallery>
    <app-forum *ngIf="selectedNavItem.toLowerCase() ==='forum'"></app-forum>
    <app-chat *ngIf="selectedNavItem.toLowerCase() ==='chat'"></app-chat>