<nav class="navbar navbar-inverse navbar-fixed-top">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand">Softway Social</a>
  </div>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li *ngFor="let navItem of navItems" [class.active]="navItem.url.toLowerCase() === selectedNavItem.toLowerCase()" 
      (click)="onSelect(navItem.url)">
        <a routerLink="{{'/'+navItem.url.toLowerCase()}}">{{navItem.name}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
      </li>
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Notification
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Inbox</a>
          </li>
          <li>
            <a href="#">Drafts</a>
          </li>
          <li>
            <a href="#">Sent Items</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">Trash</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>