<!--The content below is only a placeholder and can be replaced.-->

<app-navbar (MessageEvent)="recievedMessaged($event)"></app-navbar>
<div class="container-fluid body-wrapper">
<!-- Navigation using directives -->
<!-- 
    <app-home *ngIf="selectedNav ==='Home'"></app-home>
    <app-forum *ngIf="selectedNav ==='Forum'"></app-forum>
    <app-chat *ngIf="selectedNav ==='Chats'"></app-chat>
    <app-gallery *ngIf="selectedNav ==='Gallery'"></app-gallery>
 -->
<!-- Navigation using directives -->

<!-- Navigation using router -->
    <router-outlet></router-outlet>
<!-- Navigation using router -->
</div>
<app-footer></app-footer>