<div class="col-md-3"> 
  <ul class="list-group">
    <button type="button" class="list-group-item" 
    [class.active]="feedType.type.toLowerCase() === selectedFeedType.toLowerCase()" 
    *ngFor="let feedType of FeedTypes" (click)="onSelect(feedType.type)" >{{feedType.name}}
      <span class="badge">{{feedType.notifications}}</span>
    </button>
    <!-- <button type="button" class="list-group-item">Feeds
      <span class="badge">5</span>
    </button> -->
  </ul>
</div>
<div class="col-md-6">  
  <app-wall [displayType]="selectedFeedType"></app-wall>
</div>
<div class="col-md-3"></div>